{% extends "base.html" %}

{% block content %}
    <h1>Title: {{ newspaper.title }}</h1>
    <div class="ml-3">
        <h3>Redactors:</h3>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
          <th>Content</th>
        <th>Redactor(s)</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <td>
        {{ newspaper.id }}
      </td>
      <td>
        {{ newspaper.title }}
      </td>
        <td>
            {{ newspaper.content }}
        </td>
      <td>
        {% for redactor in newspaper.redactor.all %}
        {{ redactor.username }} ({{ redactor.first_name }} {{ redactor.last_name }}) <br>
        {% endfor %}
      </td>

        <p><strong>Publish date: {{ newspaper.publish_date }}</strong></p>


      <td>
        <a href="{% url 'agency:newspaper-update' pk=newspaper.id %}">UPDATE</a>
      </td>
      <td>
        <a href="{% url 'agency:newspaper-delete' pk=newspaper.id %}">DELETE</a>
      </td>
    </table>
{% endblock %}
